

body {
    margin: 0;
    font-family: 'Mandali', sans-serif;
    text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a{
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;

  transition: color 2s, border-bottom 2s;
  margin-top: 50px;
  margin-right: 20px;
  border-bottom: 2px solid #eee;
}

.navbar a:hover {
  color: black;
  border-bottom: 2px solid #4CAF50;
}

.navbar img{
  float: left;
  margin: 0 100px;
  display: block;
  color: #555555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#root {
  padding: 16px;
  margin-top: 160px;
}

.content-box {
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0 10px;
}


.left-div {
    width: 28%;
}


.middle-div {
    width: 33%;
}

.right-div {
    width: 28%;
}

.radiotext {
    float:left;
    margin-left: 4px;
}

.radiotext p {
    float: left;
}

.radiotext form {

}


.btn {
  border: 2px solid #4CAF50;
  color: #000;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover,
.btn:active,
.btn:visited {
  background-color: #4CAF50;
  color: white;
}

.book {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.searchform {
    width: auto;
    height: inherit;
    padding-bottom: 80px;
    border-bottom: 2px solid #ddd;
}
